.bgsobrenos
{
    background-color: rgb(48, 82, 82);
    height: 1080px;
}

.image
{
    width: 430px; 
    height: 500px;
}

.popup
{

    background-color: white;
    position: absolute;
    left: 35%;
    top: 0px;

}
.ff
{
    margin:2px;
    border: 5px;
    border-color: black;
    background-color: #eeeeee;
}
.imgposition 
{

    position: absolute;
    border-radius: 10px;
    left: 18%;
    top: 10%; 
    z-index: 1;

}

.bordas
{
    border-radius: 10px;
}

.positiontext
{
    height: 500px;
    background-color: white;
    position: absolute;
    left: 45%;
    top: 143%;

}

.espaco_esquerdo
{
    margin-left: 30px;
}
.mt
{
    margin-top: 10%;
}

.texto_centro
{
    text-align: center;
}

.alinhar_centro
{
    align-items: center;

}

.ml50
{
    margin-left: 25%;
}

.verde
{
background-color: rgb(48, 82, 82);


}

.textobranco
{
    color: white;
}

.threed:hover
{
        box-shadow:
                1px 1px whitesmoke,
                2px 2px whitesmoke,
                3px 3px whitesmoke;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

.zoom {
    overflow: hidden;
}

.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.header-site {
    background-image: url(../../assets/IMG/Design.gif);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-top: 300px;
    padding-bottom: 300px;
}

.popup-color {
    background-color: rgba(255, 255, 255, 0.5);
}

.margem
{
    padding-bottom: 20cm;
    padding-top: 5cm;
}